EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
# Paystack Keys
EXPO_PUBLIC_PAYSTACK_KEY=
EXPO_PUBLIC_PAYSTACK_TEST_KEY=
# Gemini AI Key
EXPO_PUBLIC_GEMINI_API_KEY=

# Groq AI Key
EXPO_PUBLIC_GROQ_API_KEY=
